@charset "UTF-8";

body {
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
h1 {
    color: darkblue;
    background-color: lavender;
}
h2 {
    color: black;
    background-color: gainsboro;

}
p {
    text-align: justify;
}